div.content {
  background-color: white;
  border: 0px;
  padding: 0px;
  margin: 50px;
}

div.txt_block {
  text-align: left;
  background-color: white;
  border: 5px black;
  padding: 30px;
  margin: 50px;
}

img.dog {
  width: 200px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

img.pie {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

em {
  color: red;
  font-style: normal;
}

p.username {
  font-weight: bold;
}

body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}
@media all and (orientation: landscape) and (min-width: 3700px) {
  div.content {
    margin-left: 525px;
    margin-right: 525px;
  }
}

@media all and (orientation: landscape) and (max-width: 1600px) {
  div.content {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media all and (orientation: landscape) and (max-width: 1920px) {
  div.content {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media all and (orientation: landscape) and (max-width: 2560px) {
  div.content {
    margin-left: 350px;
    margin-right: 350px;
  }
}
